body {
    background-image: url("res/back.jpg");
}

h1 {
    margin: 0px;
}

h2 {
    margin-left: 25px;
}

img {
    margin-top: 15px;
    margin-bottom: 35px;
    border: solid 2px black;
}

.lipadding {
    padding: 10px;
}

.miniimg {
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 150px;
}

.main {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.text {
    margin-top: 25px;
    margin-left: 20px;
}

.bigger {
    font-weight: bolder;
}

.stats {
    padding: 20px;
    margin-left: 25px;
    margin-top: 10px;
    background-color: lightgray;
    width: 450px;
    font-size: large;
    border: solid 2px black;
    /*margin-bottom: -50px;*/
}

.next {
    position: relative;
    left: 90%;
}

.back {
    position: relative;
}

.content {
    margin-left: 75px;
}