body {
    background-image: url("res/back.jpg");
}

h1 {
    margin: 0px;
}

h2 {
    margin-left: 25px;
}

li {
    padding: 10px;
}

img {
    margin-top: 15px;
    margin-bottom: 35px;
    border: solid 2px black;
}

.miniimg {
    margin-bottom: 0px;
    margin-left: 25px;
    width: 216px;
    height: 162px;
}

.main {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 15px;
}

.text {
    margin-top: 25px;
    margin-left: 20px;
    padding: 10px;
}

.list {
    margin-left: 30px;
}

.back {
    position: relative;
}